@use "../../scss/abstracts/colors" as color;

.button {
    button {
        background-color: color.$secondary;
        color: color.$text;
        border: none;
        border-radius: 2px;
        padding: 0.25rem;
        transition: padding 0.5s;

        &:hover {
            background-color: color.$primary;
            padding: 0.5rem;
        }

        &:active {
            animation: wiggle 0.1s;
        }

        @keyframes wiggle {

            25%,
            75% {
                transform: rotate(10deg);
            }

            50% {
                transform: rotate(-10deg);
            }

            100% {
                transform: rotate(0);
            }
        }


    }
}