.mode{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.dark-mode{
    background-color: #4d4d4d;
    color: #EEEEEE;
  }
  .light-mode{
    background-color: #EEEEEE;
    color: #4d4d4d;
  }