$primary: #708a70;
$secondary: #3e3e3d;
$text: #f0efef;

//--------------NavBar-----------------//

$--mainColor: #29335c;
$--mainColorLight: #5767aa;
$--secenderyColor: #db2b39;
$--textColor: gray;

// ----------socialLinks colors------------ //
$--twitter-color: #1da1f2;
$--facebook-color: #3b5998;
$--close-color: #000;
$--discord-color: #7289da;
$--whatsapp-color: #25d366;
$--gradient-start-color: #ff512f;
$--gradient-end-color: #dd2476;
$--icon-color: #fff;
$--custom-black-color: rgba(0, 0, 0, 0.1);
$--translucent-White: rgba(255, 255, 255, 0.5);
//----------------------------------------------------//
