$primary: #708A70;
$secondary: #3E3E3D;
$text: #f0efef;


//--------------NavBar-----------------//

$--mainColor: #29335C;
$--mainColorLight: #5767aa;
$--secenderyColor: #DB2B39;
$--textColor: gray;

//-------------------------------------//