@use "../../scss/abstracts/colors" as color;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



.NavBar {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding: 0 1.7rem;
    background-color: color.$mainColor;
    color: color.$textColor;
    
    .nav-btn {
      padding: 5px;
      cursor: pointer;
      background: transparent;
      border: none;
      outline: none;
      color: color.$textColor;
      visibility: hidden;
      opacity: 0;
      font-size: .8rem;
      
      &.nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
    }
  }
  
  nav {
    a {
      margin: 0 1.6rem;
      color: color.$textColor;
      text-decoration: none;
      
      &:hover {
        color: color.$secenderyColor;
      }
    }
    
    &.responsive_nav {
      transform: none;
    }
    
    .nav-close-btn {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    header {
      .nav-btn {
        visibility: visible;
        opacity: 1;
      }
    }
    
    nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.3rem;
      background-color: color.$mainColor;
      transition: 1.5s;
      transform: translateY(-100vh);
      
      &.responsive_nav {
        transform: none;
      }
      
      a {
        font-size: 1.3rem;
      }
    }
  }
}
